<!-- templates/registration/login.html -->
{% extends 'index.html' %}

{% load crispy_forms_tags %}

{% block title %}Вход {% endblock %}


{% block verx %}
<div class="container mt-3 bg-success ">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-2">
            <p class="badge badge-success mt-3"> Благополучия {{ user.user.name }}!
                <a href="{% url 'logout' %}" class="badge badge-light">Выход из учетной записи</a></p>

        </div>
        {% else %}
        <a href="{% url 'index' %}" class="badge badge-success">Смотреть как гость</a>
        <div class="col-sm-3">
            <a href="{% url 'login' %}" class="badge badge-success">Войти</a>
            <a href="{% url 'signup' %}" class="badge badge-success">Зарегистрироваться</a>
        </div>
        {% endif %}

    </div>
</div>

{% endblock verx %}



{% block auntifikate %}
<div class="container">
    <div class="row">
        <div class="col sm-2">

    <h2>Вход</h2>
    <form method="post" class="bootstrap5">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Войти</button>
    </form>
        </div>
    </div>
</div>
 {% endblock %}


